# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# MacOS
.DS_Store

# Packaging / build artifacts
*.egg-info/

# Python virtual environments
.venv/

# Local reference papers (copyrighted PDFs)
references/

# uv lockfile
uv.lock
